div{

	background-color: #808080;
	border: 1px solid #000000;
	height: 90px;
	width: 90px;

}

.Rectangulo {
	
	height: 100px;
	width: 320px;
	padding: 1px 0px 15px 10px;


	}

.Cuadrado{


	margin-top: 5px;
	display: inline-block;

	}

.Cuadrado1{

	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;

	

	}	



/* Inserta tu CSS aqui */

